---
title: "Portfolio"
layout: default
description: "What I did"
header-img: "img/portfolio-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Chinese Version -->
<div class="zh">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <!-- {{content}} -->
                

                <div class = "panel panel-default">   
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>项目</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/tanxianbird.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>游戏《探险鸟》</b></p>
                                    <p><i>开发工具：Unity3D, C#</i></p>
                                    <p>仁大信息科技开发的一款横板2D游乐场单机游戏，游戏有不三种不同的难度，玩家在游戏中存活的时间越长难度也会逐步增加，融入了很多现代横板跑酷的玩法，有骑行，金币，敌人及不同敌人所触发的效果等，个人实现了前台UI界面及后台UI界面的功能及逻辑和数据的衔接，中英文界面的切换，解决了美术字体在UGUI中不保存的bug，优化了原来的数据调整步长。</p>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 center">
                                    <img src="/img/in-portfolio/zoreking.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-md-8 col-xs-12 post-container">
                                    <p><b>游戏《动物乐园》</b></p>
                                    <p><i>开发工具：Unity3D, C# ，NGUI</i></p>
                                    <p>进入仁大信息科技参与开发的一款以动物为主要元素的摇奖游戏，独立实现了后台系统界面UI的拼接以及大部分逻辑的编写，后期测试了数据相关的准确性，解决其中发现的数据不准确的功能</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


